<!-- quiz/templates/index.html -->
<html>
  <head>
    <title>Quiz Python</title>
    <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
<body>
  <div class="header">
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('dzialy') }}">Wybór działu</a>
    <a href="#">Inne</a>
  </div>

  <div>
    <form method="post">
    {% for slowo in slowka %}
        {{slowo[0]}}: <input type="text" name="{{slowo[0]}}"></br>
    {%endfor%}
    <button type="submit" name="check">sprawdz</button>
  </form>
  </div>
</body>
</html>
