<!-- quiz/templates/index.html -->
<html>
  <head>
    <title>Quiz Python</title>
    <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
<body>
  <div class="header">
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('dzialy') }}">Wybór działu</a>
    <a href="#">Inne</a>
  </div>

  <div>
    Te słowa napisałeś źle:</br>
    {% for x in test %}
        {{x}}:</br>
    {%endfor%}
    Uzyskałeś {{wynik}}%!<br>
    Gratulacje!
  </form>
  </div>
</body>
</html>
